@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700');

body {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;


}

.nav {
    background-color: #28213F;
    margin: 0;
    color: #ffffff;
    list-style: none;
    text-align: center;
    padding: 20px 0 20px 0;


}

.nav > li {
    display: inline-block;
    padding: 0 25px 0 25px;


}

.nav > li > a {
    text-decoration: none;
    color: #ffffff;

}

.nav > li > a:hover {
    color: #e91e63;
}

.logo {
    position: absolute;
    margin-top: -80px;
    width: 250px;
    height: 250px;
    z-index: 1;
}

.logo a {
    color: #ffffff;
}


.Search-box {
    float: right;
    position: absolute;
    margin-top: -50px;
    right: 1%;
    transform: translate(0%, 0%);
    background: #2f3640;
    height: 40px;
    border-radius: 90px;
    padding: 1px;
    z-index: 1;
}

.Search-box:hover > .Search-txt {
    width: 240px;
    padding: 0 6px;
}

.Search-box:hover > .Search-btn {
    background: white;

}

.Search-btn {
    color: #e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}
.ina {
    position: absolute;
    top: -11.5%;
    width: 250px;
    height: 250px;
}

.two {
    position: absolute;
    top: 170px;
    right: 650px;
    border-radius: 30px;
    height: 300px;
    width: 600px;
    line-height: 2.3;
    font-size: 23px;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    opacity: 0.5;
    text-align: center;
}

.tulis {
    position: absolute;
    top: 90px;
    left: 90px;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 34px;
    letter-spacing: 6px;
}

#top,
#bottom {
    background: #8C0C0C;
    position: fixed;
}

#bottom {
    left: 38px;
    ;
    right: 0;
    height: 2px;
    width: 37px;
}

#bottom {
    bottom: 505px;
}

.tema {
    position: absolute;
    border-radius: 40px;
    height: 390px;
    right: 90px;
    bottom: 100px;
}

#top,
#bottomm,
#left,
#right {
    background: #8C0C0C;
    position: fixed;
}

#right {
    top: 400px;
    bottom: 0;
    width: 3px;
    height: 140px
}

#right {
    right: 70px;
}

#bottomm {
    left: 1000px;
    right: 0;
    height: 3.5px;
    width: 200px
}

#bottomm {
    bottom: 70px;
}

.pantai {
    position: absolute;
    left: 0px;
    height: 583px;
    width: 650px;
    box-shadow: 4px 0px 30px black;
}

.gunung {
    position: absolute;
    right: 0px;
    height: 583px;
    width: 700px;
}

.gunung1 {
    position: absolute;
    border-radius: 20px;
    height: 300px;
    left: 200px;
    top: 111px;
    border: 4px solid #373232;
}

.pantai1 {
    position: absolute;
    border-radius: 20px;
    height: 300px;
    left: 550px;
    top: 111px;
    border: 4px solid #373232;
}

.hutan {
    position: absolute;
    border-radius: 20px;
    height: 300px;
    left: 899px;
    top: 111px;
    border: 4px solid #373232;
}

.twoo {
    position: absolute;
    top: 395px;
    right: 910px;
    border-radius: 30px;
    height: 100px;
    width: 160px;
    line-height: 1.3;
    font-size: 16px;
    font-family: "Times New Roman", Times, serif;
    font-style: italic, bold;
    color: white;
    letter-spacing: 2px;

}

.twooo {
    position: absolute;
    top: 395px;
    right: 560px;
    border-radius: 30px;
    height: 100px;
    width: 160px;
    line-height: 1.3;
    font-size: 16px;
    font-family: "Times New Roman", Times, serif;
    font-style: italic, bold;
    color: white;
    letter-spacing: 2px;
}

.twoooo {
    position: absolute;
    top: 395px;
    right: 209px;
    border-radius: 30px;
    height: 100px;
    width: 160px;
    line-height: 1.3;
    font-size: 16px;
    font-family: "Times New Roman", Times, serif;
    font-style: italic, bold;
    color: white;
    letter-spacing: 2px;
}

.button {
    position: absolute;
    top: 520px;
    left: 220px;
    background-color: #EA6943;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
    border: 2px solid #373232;
}

.buttonn {
    position: absolute;
    top: 520px;
    left: 580px;
    background-color: #EA6943;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
    border: 2px solid #373232;
}

.buttonnn {
    position: absolute;
    top: 520px;
    left: 930px;
    background-color: #EA6943;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
    border: 2px solid #373232;
}

.navvv {
    position: absolute;
    list-style: none;
    text-align: center;
    top: 590px;
    left: 530px;
}

.navvv > li {

    display: inline-block;
    padding: 0 7px 0px 10px;
    font-family: "Roboto", Times, serif;


}

.navvv > li > a {
    text-decoration: none;
    color: #ffffff;

}

.navvv > li > a:hover {
    color: #e91e63;
}

.bromo {
    background-image: url(shutterstock_758055910.jpg);
    height: 579px;
    width: 1280px;
}

.kawah {
    border-radius: 30px;
    position: absolute;
    height: 160px;
    left: 200px;
    top: 150px;
    border: 2px solid #373232;
}

.pasir {
    border-radius: 30px;
    position: absolute;
    height: 160px;
    left: 200px;
    top: 390px;
    border: 2px solid #373232;
}

.bukit {
    border-radius: 30px;
    position: absolute;
    height: 160px;
    left: 800px;
    top: 150px;
    border: 2px solid #373232;
}

.penanjakan {
    border-radius: 30px;
    position: absolute;
    height: 160px;
    left: 800px;
    top: 390px;
    border: 2px solid #373232;
}

.tuliss {
    position: absolute;
    top: 40px;
    left: 350px;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 39px;
    letter-spacing: 6px;
}
.tulis1{
    position: absolute;
    top: 299px;
    left: 220px;
    font-family: "Times New Roman", Times, serif;
    color: white;
    font-style: italic;
    font-style: bold;
    font-size: 19px;
    letter-spacing: 1px;
}
.button1{
    position: absolute;
    top: 340px;
    left: 270px;
    background-color: #EA6943;
    border: none;
    color: white;
    padding: 9px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
    border: 2px solid #373232;
}
.tulis2{
    position: absolute;
    top: 540px;
    left: 198px;
    font-family: "Times New Roman", Times, serif;
    color: white;
    font-style: italic;
    font-style: bold;
    font-size: 19px;
    letter-spacing: 1px;
}
.button2{
    position: absolute;
    top: 580px;
    left: 270px;
    background-color: #EA6943;
    border: none;
    color: white;
    padding: 9px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
    border: 2px solid #373232;
}
.tulis3{
    position: absolute;
    top: 540px;
    left: 810px;
    font-family: "Times New Roman", Times, serif;
    color: white;
    font-style: italic;
    font-style: bold;
    font-size: 19px;
    letter-spacing: 1px;
}
.button3{
    position: absolute;
    top: 580px;
    left: 890px;
    background-color: #EA6943;
    border: none;
    color: white;
    padding: 9px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
    border: 2px solid #373232;
}
.tulis4{
    position: absolute;
    top: 299px;
    left: 810px;
    font-family: "Times New Roman", Times, serif;
    color: white;
    font-style: italic;
    font-style: bold;
    font-size: 19px;
    letter-spacing: 1px;
}
.button4{
    position: absolute;
    top: 340px;
    left: 890px;
    background-color: #EA6943;
    border: none;
    color: white;
    padding: 9px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
    border: 2px solid #373232;
}



