html {
    margin: 0;
}

.circleimage {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700');

body {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;

}

.card {
    position: absolute;
    top: 80%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    perspective: 600px;
    transition: 0.5s;
}

.card .circleimage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    backface-visibility: hidden;
    transform: rotateX(0deg);
    transition: 0.54s;
}

.card:hover .circleimage {
    transform: rotateX(-180deg);
}

.card .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    transition: 0.5s;
    border-radius: 50%;
}

.card .back:before {
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
}

.card:hover .back {
    transform: rotateX(0deg);
}

.card .back .details {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.card .back .details h2 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #fff;
}

.card .back .details h2 span {
    color: #a7a7a7;
    font-size: 16px;
}

.social-icons {
    padding: 10px 0;
}

.social-icons a {
    display: inline-block;
    width: 36px;
    height: 36px;
    text-align: center;
    background: #262626;
    color: #fff;
    text-decoration: none;
    border-radius: 50%;
    transition: 0.5s;
}

.social-icons a .fa {
    line-height: 36px;
}

.social-icons a:hover {
    background: #e91e63;

}

.circleimage1 {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.card1 {
    position: absolute;
    top: 80%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    perspective: 600px;
    transition: 0.5s;
}

.card1 .circleimage1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    backface-visibility: hidden;
    transform: rotateX(0deg);
    transition: 0.54s;
}

.card1:hover .circleimage1 {
    transform: rotateX(-180deg);
}

.card1 .back1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    transition: 0.5s;
    border-radius: 50%;
}

.card1 .back1:before {
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
}

.card1:hover .back1 {
    transform: rotateX(0deg);
}

.card1 .back1 .details1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.card1 .back1 .details1 h2 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #fff;
}

.card1 .back1 .details1 h2 span {
    color: #a7a7a7;
    font-size: 16px;
}

.social-icons1 {
    padding: 10px 0;
}

.social-icons1 a {
    display: inline-block;
    width: 36px;
    height: 36px;
    text-align: center;
    background: #262626;
    color: #fff;
    text-decoration: none;
    border-radius: 50%;
    transition: 0.5s;
}

.social-icons1 a .fa {
    line-height: 36px;
}

.social-icons1 a:hover {
    background: #e91e63;

}

.nav {

    background-color: #28213F;

    color: #28213f;
    list-style: none;
    text-align: center;
    padding: 30px 10px 20px 0;



}

.nav > li {

    display: inline-block;
    padding: 0 25px 0px 25px;


}

.nav > li > a {
    text-decoration: none;
    color: #ffffff;

}

.nav > li > a:hover {
    color: #e91e63;
}

.logo {
    position: absolute;
    top: -8.5%;
    width: 250px;
    height: 250px;
}

.logo a {
    color: #ffffff;
}

.nature {
    position: absolute;
    top: 13%;
    height: 300px;
    width: 1263px;
}

.bg {
    width: 1264px;

}
.jabatan {
    text-align: center;
    position: absolute;
    top: 94%;
    left: 18.5%;
}
.jabatan1 {
    text-align: center;
    position: absolute;
    top: 94%;
    left: 62%;
}
.box{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 150px;
    box-sizing: border-box;
    background: rgba(0,0,0,.8);
    border-radius: 5%;
    filter: blur(4.3px);
}
.tulisan > h2 {
    color: #ffffff;
    position: absolute;
    text-align: center;
    top: 26%;
    left: 42%;
    font-size: 40px;

}

